* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #F5CF06;
    --sencondary-color: #8E4106;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}

.container {
    height: 100%;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: auto;
}

header {
    background-color: #F5CF06;
    margin-top: 7px;
}

main {
    flex-grow: 1;
}

footer {
    margin-bottom: 24px;
}