* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #F5CF06;
    --sencondary-color: #8E4106;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}

header {
    display: flex;
    justify-content: left;
    align-items: start;
    height: 100px;
}

h2 {}

main {
    flex-grow: 1;
}

footer {}