* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #F5CF06;
    --sencondary-color: #8E4106;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    font-size: 32px;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    height: 100%;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: auto;
}

header {
   
    margin-top: 70px;
}

header a{
   grid-column: 1/-1;
   display: flex;
   align-items: center;
   gap: 16px;
   text-decoration: none;
   color: var(--sencondary-color);
 
}

main {
 background-color: tomato;
    flex-grow: 1;
}

.title{
    position: relative;
    grid-column: 1/-1;
    place-self:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.title__text{
    font-size: 20vw;
    color: #fff;
}

.title__transparent{
    font-size: 27vw;
    color: #fff5;
    position: absolute;
    top: 0;
}

.description{

     grid-column: 1/7;
}
.action{
     background-color: blue;
     grid-column: 7/-1;
}
footer {
    background-color: plum;
    margin-bottom: 24px;
}